@using NTSDCES.Models
@model IEnumerable<Forum>
@{
    ViewBag.Title = "Index";
    Layout = null;
    NTSDCESEntities Data = new NTSDCESEntities();
    List<Account> NameAccount = Data.Accounts.ToList();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Forum.css">
    <title>Forum</title>
    <style>
        .active {
            display: block;
        }

        .btn {
            width: 72px;
            height: 40px;
            background-image: url(~/images/menu_button.png);
            background-color: rgba(0, 0, 0, 0);
            border-style: none;
        }

            .btn:hover {
                background-image: url(~/images/menu_button1.png);
                background-color: rgba(0, 0, 0, 0);
                border-style: none;
            }

            .btn:active {
                background-image: url(~/images/menu_button1.png);
                background-color: rgba(0, 0, 0, 0);
                border-style: none;
            }
    </style>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

</head>

<body>
    <div class="DropDown">
        <button class="btn sm" onclick="DropDown(this)"></button>
        <div id="menu" class="lg">
            @if (User.Identity.IsAuthenticated)
            {
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })
                @Html.ActionLink("Info", "Info", "Home", new { area = "" }, new { @class = "nav-link" })
                <a href="https://discord.gg/H5XyhS9">Discord</a>
                @Html.ActionLink("Support", "Index", "Support", new { area = "" }, new { @class = "nav-link" })
                <a href="https://www.mediafire.com/file/yq5ijcw02lx8elt/NTSDCES1.7z/file">Download</a>
                <a>Welcome - @User.Identity.Name</a>
                @Html.ActionLink("Log Out", "LogOut", "Account", new { area = "" }, new { @class = "nav-link" })
            }
            else
            {
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })
                @Html.ActionLink("Info", "Info", "Home", new { area = "" }, new { @class = "nav-link" })
                <a href="https://discord.gg/H5XyhS9">Discord</a>
                @Html.ActionLink("Support", "Index", "Support", new { area = "" }, new { @class = "nav-link" })
                <a href="https://www.mediafire.com/file/yq5ijcw02lx8elt/NTSDCES1.7z/file">Download</a>
                @Html.ActionLink("Log In", "LogIn", "Account", new { area = "" }, new { @class = "nav-link" })
                @Html.ActionLink("Register", "Register", "Account", new { area = "" }, new { @class = "nav-link" })
            }
        </div>
    </div>
    <div id="outer">
        <div id="header">
            <img src="~/images/title.png">
        </div>
        <div id="main">
            <div id="topic">
                <img src="~/images/sharingan_icon.png">
                <p>FORUM</p>
                <img src="~/images/sharingan_icon.png" style="float: right;">
            </div>
            <div id="main_content">
                <div id="row1">
                    <div id="col1">
                        <p>
                            Topics from developers
                        </p>
                    </div>
                    <div id="col2">
                        <p>
                            Replies
                        </p>
                    </div>
                    <div id="col3">
                        <p>
                            Views
                        </p>
                    </div>
                    <div id="col3">
                        <p>
                            Date
                        </p>
                    </div>
                </div>

                <div id="row2" style="height: 20px; border-style: none;">
                    <div id="col1">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a href="@Url.Action("Forum_post1", "Forum", new { area = "" })">
                                <input type="submit" value="New Post" style="margin-top: 4px; margin-left: 4px" />
                            </a>
                        }

                    </div>

                </div>
                @foreach (var item in Model)
                {
                    foreach (var res in NameAccount.Where(x => x.AccountID == item.AccountID))
                    {
                        <div id="row2" style="height: 98px;">
                            <div id="col1">

                                <p style="display: grid;">
                                    <a href="@Url.Action("ForumDetail", "Forum", new { id = item.PostID })" style="background: none; border: none; color: blue; cursor: pointer;">
                                        @item.Title
                                    </a>

                                    <a href="#" id="a_name" style="color:#fff">  Name :@res.NameAcc</a>
                                    <div style="display: flex">
                                        @using (Html.BeginForm("IncrementRepliesCount", "Forum", FormMethod.Post))
                                        {
                                            @Html.Hidden("id", item.PostID)
                                            <button type="submit"><img src="~/images/like_icon.png"></button>
                                        }

                                        @if (User.IsInRole("Developer"))
                                        {
                                            <a href="@Url.Action("ForumEdit", "Forum", new { id = item.PostID })" style="text-decoration: none;">
                                                <button type="submit" style="margin-left: 4px; background: #76b66d; color: #fff; padding: 7px; display: flex; align-items: center; justify-content: center; border-radius: 40%;">
                                                    <i class="fa-solid fa-pen-to-square" style="margin-right: 5px;"></i>
                                                </button>
                                            </a>
                                            <a href="@Url.Action("DeleteForum", "Forum", new { id = item.PostID })" style="text-decoration: none;">
                                                <button type="submit" style="margin-left: 4px; background: red; color: #fff; padding: 7px; display: flex; align-items: center; justify-content: center; border-radius: 40%;">
                                                    <i class="fas fa-trash" style="margin-right: 5px;"></i>
                                                </button>
                                            </a>

                                        }
                                    </div>
                                </p>
                            </div>
                            <div id="col2">
                                <p>
                                    @item.NumReps<br>
                                    replies
                                </p>
                            </div>
                            <div id="col3">
                                <p>
                                    @item.NumViews<br>
                                    views
                                </p>
                            </div>
                            <div id="col3">
                                <p>
                                    @item.PostDate
                                </p>
                            </div>

                        </div>
                    }

                }


            </div>
        </div>
        <div id="footer">
            <p>
                Copyright &copy Naruto: The Setting Dawn Community Edition Storm. All rights reserved.
            </p>
        </div>
    </div>
    <script>
        function DropDown(element) {
            element.nextElementSibling.classList.add("active")
        }
        window.onclick = function (event) {
            let active = document.querySelector(".active")
            if (active && !event.target.matches(".btn")) {
                active.classList.remove("active")
            }
        }
    </script>
</body>
</html>
